:root {
  --fw-thin: 100;
  --fw-extralight: 200;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  --ff: "Space Mono", monospace;

  --clr-green-200: hsl(172, 67%, 45%);
  --clr-green-400: hsl(172, 67%, 45%);
  --clr-green-900: hsl(183, 100%, 15%);
  --clr-green-850: hsl(186, 39%, 30%);
  --clr-green-900-opacity: hsla(183, 100%, 15%, 0.36);

  --clr-grey-500: hsl(186, 14%, 43%);
  --clr-grey-400: hsl(184, 14%, 56%);
  --clr-grey-200: hsl(185, 41%, 84%);
  --clr-grey-50: hsl(189, 47%, 97%);

  --clr-orange: hsl(13, 70%, 60%);

  --clr-white: hsl(0, 100%, 100%);
}

html {
  font-size: 62.5%;
}

body,
main,
.tip-calculator__result--wrapper,
.tip-calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: var(--ff);
  font-size: 2.4rem;
  font-weight: var(--fw-bold);
  background-color: var(--clr-grey-200);
  gap: 1.5rem;
}

main {
  gap: 45px;
  max-width: 375px;
  padding-top: 70px;
}

.tip-calculator__logo img {
  width: 144px;
  height: auto;
}

fieldset {
  border: none;
  width: 100%;
}

input[type="text"] {
  width: 100%;
  text-align: right;
  border: 0;
  outline: 0;
  color: var(--clr-green-900);
  padding: 8px 16px;
  background-color: var(--clr-grey-50);
  position: relative;
  border: 1px solid transparent;
  border-radius: 5px;
}

input[type="text"]::placeholder {
  color: var(--clr-green-900-opacity);
}

input.icon-dollar,
input.icon-person {
  background-position: top left;
  background-size: 13px 16px;
  background-repeat: no-repeat;
  background-position: 4% 45%;
}

input.icon-person {
  background-image: url("./images/icon-person.svg");
}

input.icon-dollar {
  background-image: url("./images/icon-dollar.svg");
}

button {
  font-size: 2.4rem;
  font-weight: var(--fw-bold);
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
}

.form-group label,
legend {
  font-size: 1.6rem;
  font-weight: var(--fw-bold);
  color: var(--clr-grey-500);
}

.tip-calculator {
  padding: 32px;
  background-color: var(--clr-white);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  gap: 32px;
}

.tip-calculator__result--wrapper {
  background-color: var(--clr-green-900);
  border-radius: 15px;
  padding: 24px 32px;
  color: var(--clr-white);
  align-items: flex-start;
  gap: 32px;
}

#tip-calculator-button-reset {
  width: 100%;
  color: var(--clr-green-900);
  background-color: var(--clr-grey-200);
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 8px;
}

#tip-calculator-button-reset:disabled {
  color: var(--clr-green-900);
  background-color: var(--clr-green-850);
  cursor: not-allowed;
}

.form-group {
  position: relative;
  width: 100%;
}

.form-group .form-error {
  position: absolute;
  top: 8px;
  right: 0;
  color: var(--clr-orange);
  font-size: 1.6rem;
  font-weight: var(--fw-bold);
  opacity: 0;
}

.form-group-error .form-error {
  opacity: 1;
}

.form-group-error input {
  border: 1px solid var(--clr-orange);
}

.form-group--result {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.form-group--result .result--amount {
  width: 100%;
  text-align: right;
}

.group-result--label {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.tip-calculator__tips {
  margin-top: 8px;
  display: grid;
  grid-template-columns: repeat(2, 147px);
  gap: 16px;
}

.tip-calculator__tips button {
  color: var(--clr-white);
  background-color: var(--clr-green-900);
}

.tip-calculator__tips button:last-child {
  color: var(--clr-grey-500);
  background-color: var(--clr-grey-50);
}

.tip-calculator__tips button.selected,
.tip-calculator__tips button:hover,
.tip-calculator__tips button:active {
  color: var(--clr-green-900);
  background-color: var(--clr-grey-200);
}

.result--title {
  font-size: 1.6rem;
  font-weight: var(--fw--bold);
}

.result--detail {
  font-size: 1.3rem;
  font-weight: var(--fw-bold);
  color: var(--clr-grey-400);
}

.result--amount {
  font-size: 3.2rem;
  font-weight: var(--fw-bold);
  letter-spacing: -1px;
  color: var(--clr-green-400);
}

.hidden {
  display: none !important;
}

@media screen and (min-width: 620px) {
  main {
    max-width: 608px;
  }

  .tip-calculator__tips {
    grid-template-columns: repeat(3, 1fr);
  }

  .result--amount {
    font-size: 4.8rem;
  }

  .tip-calculator__result--wrapper {
    margin-top: 12px;
  }
}

@media screen and (min-width: 950px) {
  main {
    max-width: 920px;
    gap: 52px;
  }

  .tip-calculator__logo img {
    width: 86px;
    height: 53px;
  }

  .form-group-bill {
    grid-area: bill;
  }

  .tip-calculator__tip--wrapper {
    grid-area: tips;
  }

  .form-group-number-people {
    grid-area: number-people;
  }

  #tip-calculator-button-reset {
    margin-top: auto;
  }

  .tip-calculator__result--wrapper {
    grid-area: result;
    margin-top: 0;
    align-self: stretch;
  }

  .tip-calculator {
    display: grid;
    grid-template-areas:
      "bill result"
      "tips result"
      "number-people result";
    grid-template-columns: 1fr 413px;
  }
}
